# conda install -c conda-forge python-kaleido
kaleido
pandas
plotly
pydantic
numpy
# conda install -c conda-forge ta-lib
# TA-Lib~=0.4.19
pytest
pandera
ccxt
MetaTrader5
# beautifulsoup4

# conda update --all

# conda install pip
# pip install -r requirements.txt
